#compareContainer{
    padding-top: 10vh;
    top: 20vh;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.compareContents{
    width: 80vw;
    display: flex;
    background-color: var(--palewhite);
}
#searchPlans{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 2vw;
    align-items: first baseline;
}
#searchPlans h1 span{
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}
#searchSpan{
    color: var(--primary);
}
#planSpan{
    color: var(--secondary);
}
#datafields{
    width: 80vw;
    height: 85vh;
    background-color: blue;
}
#chooseBreak{
    height: 0.1px;
    width: 100vw;
}
#contentChoose{
    width: 30%;
    height: 10vh;
    background-color: gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--palewhite);
}