#navBar-container{

    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: var(--palewhite);
    position: fixed;
    z-index: 9;

}
#navBar{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}
.sideNav{
    height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--palewhite);
    justify-content: space-around;
}
.leftNav{
    flex:5;
}
.rightNav{
    justify-content: space;
    flex:3;
    display: flex;
}
.navItem{
    height: 5vh;
    flex: 1;
    width: auto;
    margin: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.langChoice{
    font-family: "Quicksand", sans-serif;
    z-index: 3;
    font-style: normal;
    font-weight: bold;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-1.5vw, 0);
    color: var(--primary);
    border-radius: 1vh;
}
#langSelect{
    background-color: var(--primary);
    width: 6vw;
    height: 5vh;
    position: absolute;
    border-radius: 1vh;
    transition: 0.2s ease-in-out;
    z-index: 2;
}

#themeContainer{
    background-color: var(--palewhite);
    height: 5vh;
    width: 5.6vw;
    display: flex;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-container{
    flex: 1;
    height: 6vh;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
    aspect-ratio: 1;
    display: flex;
}
#themeSelector{
    --xpos:2.6;
    background-color: var(--primary);
    width: 2.9vw;
    aspect-ratio: 1;
    position: absolute;
    border-radius: 3vh;
    transform: translate(0vw,0);
    z-index: 2;
    transition: 0.2s ease-in-out;
}
#themeContainer img{
    height: 3vh;
    width: auto;
    z-index: 3;
}

#moreOptions{
    --state:1;
    --size: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    aspect-ratio: 1;
    flex-direction: column;
    border-radius: 0.5vh;
    z-index: 4;
}
.optionsBar{
    background-color: var(--primary);
    width: 3.6vh;
    height: 0.5vh;
    margin: 0.3vh;
    border-radius: 4vh;
    transform-origin: center;
    transition: 0.5s;
}
#moreOptions:hover .optionsBar{
    background-color: var(--palewhite);
 }


#optionsCard{
    padding: 1vh;
    height: 80vh;
    width: 20vw;
    position: absolute;
    top: 1.5vh;
    right: 4vw;
    z-index: 3;
    background-color: rgba(53, 81, 135, 0.9);
    border-radius: 1.3vh;
    backdrop-filter: blur(px);
    display: none;
    flex-direction: column;
    align-items: center;
}

.optionsOption{
    color: var(--palewhite);
    display: flex;
    flex:1;
    align-items: center;
    width: 100%;
    justify-content: left;
    border-radius: 2vh;
    padding-left: 1vh;
    padding-right: 1vh;
}
#emptySpace{
    height: 6vh;
    width: 100%;
}
.optionsOption:hover{
    background-color: var(--tertiary);
}
.optionImgContainer{
    aspect-ratio: 1;
    width: 1vh;
    display: flex;
    flex: 1;
}
.spandiv{
    flex: 8;
}
.divElements{
    margin: 1vh;
}
